html,
body {
   margin: 0;
   padding: 0;
   overflow: hidden;
}

html,
body {
   height: 100%;
}

html {
   width: 100%;
}

body {
   font-family: "Malgun Gothic", ¸¼Àº°íµñ, ³ª´®°íµñ, "Nanum Gothic", dotum, µ¸¿ò, Arial, verdana, sans-serif;
}

#root {
   width: 100%;
   height: 100%;
   box-sizing: border-box;
}

#headWapper {
   height: 60px;
}

#sideWapper {
   width: 200px;
   height: inherit;
   float: left;
   box-sizing: border-box;
   border: 1px solid blue;
}

#contentsWrapper {
   position: relative;
   width: calc(100% - 200px);
   height: inherit;
   border: 1px solid blue;
   padding: 10px;
   float: left;
   box-sizing: border-box;

   .contentsTitle {
      border: 1px solid blue;
   }

   .contentsBody {
      border: 1px solid blue;
   }
}